<!-- app/views/users/show.html.erb -->
<div class="container mt-4">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Profile Details</h5>
       <p class="nav-item">
          <% if current_user && current_user.avatar.attached? %>
             <%= image_tag current_user.avatar, style:"width: 50px; height: 50px;" %>
          <% end %>
        </p>
      <p class="card-text"><strong>Email:</strong> <%= @user.email %></p>
      <p class="card-text"><strong>username:</strong> <%= @user.username %></p>
      <p class="card-text"><strong>Bio:</strong> <%= @user.bio %></p>
      <!-- Add other profile details as needed -->
    </div>
  </div>
</div>

