<div class="container mt-4">
  <p class="text-success"><%= notice %></p>

  <h1>Posts</h1>

  <div id="posts">
    <% @posts.each do |post| %>
      <div class="card mb-3">
        <div class="card-body">
          <%= render post %>
          <p>
            <%= link_to "Show this post", post, class: "btn btn-secondary" %>
          </p>
        </div>
      </div>
    <% end %>
  </div>

  <%= link_to "New post", new_post_path, class: "btn btn-primary" %>
</div>
